footer {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #F7F9FB;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(min-width: 768px) {
        height: 300px;
    }
    .footer-img {
        z-index: 2;
        width: 31px;
        height: 41px;
                img {
                    width: 100%;
                }
    }
    p {
        z-index: 2;
        margin: 0;
        color: #606f81;
        font-weight: 700;
        font-size: 14px;
    }
    &:after {       
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        content: "POLIND";
        font-size: 90px;
        font-weight: bold;
        color: white;
        @media(min-width:768px) {
        letter-spacing: 10px;
        font-size: 140px;
        }
        @media(min-width:1200px) {
        letter-spacing: 30px;
        font-size: 240px;
        }
        

    }
     
}