@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn{
    color: #b98000;  
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    background-color: #ffc74a;
    padding: 20px 30px;
    border-radius: 30px ;
    border: 1px solid transparent;
    font-family: "Montserrat", sans-serif
    }

    .btn-large {
        padding: 10px 15px;
        font-size: 12px;
        letter-spacing: 0.9;
        @media (min-width: 1200px) {
            font-size: 18px;
            padding: 20px 30px;
        }
    }