.tours {
    text-align: center;
    background-color: rgb(223, 223, 223);
    margin: 0;
    padding-top: 50px;
    padding-bottom: 60px;  
    
    @media (min-width: 768px) {
        padding-top: 240px;
    }
   
    .container {
        width: 100%;
        max-width: 1171px;
        margin: 0 auto;       
    } 

    h3 {
        margin: 0;
        font-size: 30px;
        font-weight: 700;
        color: #606f81;
        letter-spacing: 0.75;
        margin-bottom: 52px;
    }

    input {
        width: 60%;
        display: inline-block;
        padding: 20px 100px 20px 20px;
        border-radius: 50px;
        border: 1px solid transparent;        
        color: #606f81;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        opacity: 0.6;
        background-image: url('./img/Search.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: 95% 50% ;
        outline: transparent;
    }

    .options {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @media (min-width: 768px) {
            margin-top: 30px;
        }

        p{
            padding: 0;
            margin: 0;
        }

        .travel-options {
            display: flex;
            flex-direction: column;
            
            @media (min-width: 768px) {
                flex-direction: row;
            }
        }

        .city-options {
            display: flex;
            flex-direction: column;

            @media (min-width: 768px) {
                flex-direction: row;
            }
        }

        .option {
            margin: 5px;            
            background-color: transparent;
            color: #8d97a5;
            border: 1px solid #8d97a5;
            letter-spacing: 1px;
            padding: 5px 30px;
            font-size: 14px;
            font-weight: 700;
            border-radius: 30px ;
        }

        .option-yellow {
            background-color: #ffc74a;
            border: none;
            color: white;
        }

        .option-grey {
            background-color: #bdc8d9;
            border: none;
            color: white;
        }
    }

    .tours-container {
        margin: 0 auto;
        margin-top: 100px;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 20px;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr ;            
        }

        @media (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .tour {
            margin: 20px ;
            padding: 10px;
            padding-bottom: 50px;
            background-color: #f4f4f6;
            color:#c8cdd3;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid #ffc74a;
            }

            h3 {
                margin: 20px;
            }

            h4 {                
                margin: 10px 10px 50px 10px;
            }

            img{
                width: 100%;
            }

            .btn {
                padding: 10px 20px;
                background-color: #fff;
                color: #bdc8d9;

                &:hover {
                    background-color: #ffc74a;
                    color: #b98000;
                }
            }
        }
    }
}