@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  color: #b98000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  background-color: #ffc74a;
  padding: 20px 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-family: "Montserrat", sans-serif;
}

.btn-large {
  padding: 10px 15px;
  font-size: 12px;
  letter-spacing: 0.9;
}

header {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("../img/topBg.png");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/topBg.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

header nav .nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-brand .nav-brand-image {
  width: 31px;
  height: 41px;
  margin-right: 10px;
  z-index: 1000;
}

@media (min-width: 768px) {
  header nav .nav-brand .nav-brand-image {
    width: 51px;
    height: 61px;
  }
}

header nav .nav-brand .nav-brand-image img {
  height: 100%;
  width: 100%;
}

header nav .nav-brand h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #fff;
  z-index: 1000;
}

@media (min-width: 768px) {
  header nav .nav-brand h3 {
    font-size: 30px;
  }
}

header nav .nav-links {
  list-style-type: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.8);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

@media (min-width: 768px) {
  header nav .nav-links {
    -webkit-transition: 0;
    transition: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: inherit;
    height: 0;
  }
}

header nav .nav-links.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header nav .nav-links .nav-link {
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  header nav .nav-links .nav-link {
    margin: 0 30px;
  }
}

header nav .nav-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  color: white;
  z-index: 1000;
}

@media (min-width: 768px) {
  header nav .nav-button {
    display: none;
  }
}

header .heading {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

@media (min-width: 768px) {
  header .heading {
    font-size: 44px;
    top: 20%;
  }
}

header .heading h2 {
  margin: 0;
}

header .heading h3 {
  margin: 0;
  color: #ed6950;
}

header .heading p {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.4;
  margin-bottom: 51px;
}

@media (min-width: 768px) {
  header .heading p {
    font-size: 18px;
  }
}

header .heading h5 {
  display: none;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.9;
  font-weight: 400;
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  header .heading h5 {
    display: block;
    margin-top: 120px;
  }
}

header .heading .btn-heading {
  display: none;
}

@media (min-width: 768px) {
  header .heading .btn-heading {
    display: inline;
  }
}

header .offer {
  display: none;
}

@media (min-width: 768px) {
  header .offer {
    display: block;
  }
}

header .offer .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  overflow: hidden;
}

header .offer .cards-container .card {
  min-width: 240px;
  min-height: 280px;
  position: relative;
  overflow: hidden;
  margin: 5px;
}

header .offer .cards-container .card .card-image {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 0;
}

header .offer .cards-container .card .card-image img {
  width: 100%;
  height: auto;
}

header .offer .cards-container .card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  min-width: 200px;
}

header .offer .cards-container .card .card-content h3 {
  font-size: 30px;
  opacity: 0.9;
  font-weight: 700;
  margin: 0;
  margin-bottom: 18px;
}

header .offer .cards-container .card .card-content p {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-bottom: 75px;
  color: #ffc74a;
  -webkit-transition: .5s;
  transition: .5s;
}

header .offer .cards-container .card:hover .card-content {
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}
/*# sourceMappingURL=style.css.map */