@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  color: #b98000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  background-color: #ffc74a;
  padding: 20px 30px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-family: "Montserrat", sans-serif;
}

.btn-large {
  padding: 10px 15px;
  font-size: 12px;
  letter-spacing: 0.9;
}

@media (min-width: 1200px) {
  .btn-large {
    font-size: 18px;
    padding: 20px 30px;
  }
}

header {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("./img/topBg.png");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("./img/topBg.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

header nav .nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-brand .nav-brand-image {
  width: 31px;
  height: 41px;
  margin-right: 10px;
  z-index: 1000;
}

@media (min-width: 768px) {
  header nav .nav-brand .nav-brand-image {
    width: 51px;
    height: 61px;
  }
}

header nav .nav-brand .nav-brand-image img {
  height: 100%;
  width: 100%;
}

header nav .nav-brand h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #fff;
  z-index: 1000;
}

@media (min-width: 768px) {
  header nav .nav-brand h3 {
    font-size: 30px;
  }
}

header nav .nav-links {
  position: fixed;
  list-style-type: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.8);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

@media (min-width: 768px) {
  header nav .nav-links {
    -webkit-transition: 0;
    transition: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: inherit;
    height: 0;
  }
}

header nav .nav-links.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header nav .nav-links .nav-link {
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  header nav .nav-links .nav-link {
    margin: 0 30px;
  }
}

header nav .nav-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  color: white;
  z-index: 1000;
}

@media (min-width: 768px) {
  header nav .nav-button {
    display: none;
  }
}

header .heading {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

@media (min-width: 768px) {
  header .heading {
    font-size: 44px;
    top: 20%;
  }
}

header .heading h2 {
  margin: 0;
}

header .heading h3 {
  margin: 0;
  color: #ed6950;
}

header .heading p {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.4;
  margin-bottom: 51px;
}

@media (min-width: 768px) {
  header .heading p {
    font-size: 18px;
  }
}

header .heading h5 {
  display: none;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.9;
  font-weight: 400;
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  header .heading h5 {
    display: block;
    margin-top: 120px;
  }
}

header .heading .btn-heading {
  display: none;
}

@media (min-width: 768px) {
  header .heading .btn-heading {
    display: inline;
  }
}

.offer {
  display: none;
}

@media (min-width: 768px) {
  .offer {
    display: block;
  }
}

.offer .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  overflow: hidden;
}

.offer .cards-container .card-dark {
  display: none;
}

@media (min-width: 1200px) {
  .offer .cards-container .card-dark {
    display: block;
  }
}

.offer .cards-container .card {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

@media (min-width: 992px) {
  .offer .cards-container .card {
    width: 371px;
    min-height: 400px;
  }
}

.offer .cards-container .card .card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 371px;
  height: 433px;
  z-index: 0;
}

.offer .cards-container .card .card-image img {
  width: 100%;
  height: auto;
}

.offer .cards-container .card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  min-width: 200px;
}

@media (min-width: 992px) {
  .offer .cards-container .card .card-content {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

@media (min-width: 1200px) {
  .offer .cards-container .card .card-content {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

.offer .cards-container .card .card-content h3 {
  font-size: 34px;
  opacity: 0.9;
  font-weight: 700;
  margin: 0;
  margin-bottom: 18px;
}

@media (min-width: 992px) {
  .offer .cards-container .card .card-content h3 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .offer .cards-container .card .card-content h3 {
    font-size: 32px;
  }
}

.offer .cards-container .card .card-content p {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-bottom: 140px;
  color: #ffc74a;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 992px) {
  .offer .cards-container .card .card-content p {
    font-size: 18px;
  }
}

.offer .cards-container .card:hover .card-content {
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.tours {
  text-align: center;
  background-color: #dfdfdf;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .tours {
    padding-top: 240px;
  }
}

.tours .container {
  width: 100%;
  max-width: 1171px;
  margin: 0 auto;
}

.tours h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: #606f81;
  letter-spacing: 0.75;
  margin-bottom: 52px;
}

.tours input {
  width: 60%;
  display: inline-block;
  padding: 20px 100px 20px 20px;
  border-radius: 50px;
  border: 1px solid transparent;
  color: #606f81;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.6;
  background-image: url("./img/Search.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  outline: transparent;
}

.tours .options {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .tours .options {
    margin-top: 30px;
  }
}

.tours .options p {
  padding: 0;
  margin: 0;
}

.tours .options .travel-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .tours .options .travel-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.tours .options .city-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .tours .options .city-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.tours .options .option {
  margin: 5px;
  background-color: transparent;
  color: #8d97a5;
  border: 1px solid #8d97a5;
  letter-spacing: 1px;
  padding: 5px 30px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
}

.tours .options .option-yellow {
  background-color: #ffc74a;
  border: none;
  color: white;
}

.tours .options .option-grey {
  background-color: #bdc8d9;
  border: none;
  color: white;
}

.tours .tours-container {
  margin: 0 auto;
  margin-top: 100px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (min-width: 768px) {
  .tours .tours-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .tours .tours-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.tours .tours-container .tour {
  margin: 20px;
  padding: 10px;
  padding-bottom: 50px;
  background-color: #f4f4f6;
  color: #c8cdd3;
  border: 1px solid transparent;
}

.tours .tours-container .tour:hover {
  border: 1px solid #ffc74a;
}

.tours .tours-container .tour h3 {
  margin: 20px;
}

.tours .tours-container .tour h4 {
  margin: 10px 10px 50px 10px;
}

.tours .tours-container .tour img {
  width: 100%;
}

.tours .tours-container .tour .btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #bdc8d9;
}

.tours .tours-container .tour .btn:hover {
  background-color: #ffc74a;
  color: #b98000;
}

.city {
  padding: 50px 20px 100px 20px;
  margin: 0;
  text-align: center;
  background-color: #F7F9FB;
}

.city h3 {
  color: #606f81;
  font-weight: 700;
  margin: 0;
  font-size: 30px;
  margin-bottom: 50px;
}

.city .city-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1171px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .city .city-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.city .city-container .info {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 40px;
}

@media (min-width: 768px) {
  .city .city-container .info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80%;
  }
}

.city .city-container .info h3 {
  color: #f8c759;
  margin: 0;
}

.city .city-container .info p {
  text-align: center;
}

@media (min-width: 768px) {
  .city .city-container .info p {
    text-align: left;
  }
}

.city .city-container .info .btn {
  padding: 10px 20px;
}

.city .city-container .city-img {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .city .city-container .city-img {
    width: 80%;
    margin-right: 30px;
  }
}

.city .city-container .city-img img {
  width: 100%;
}

.city .city-container .city-img:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 10px solid #f8c759;
  z-index: -1;
  -webkit-transform: translate(3%, 3%);
          transform: translate(3%, 3%);
}

@media (min-width: 768px) {
  .city .city-container .city-img:before {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */